<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add Class</title>
</head>
<body>

<h1>Add a Class</h1>

<form method="POST" action="../classes/add.php">
Enter a task:
<input type="text" name="name" size="50" placeholder="name" />
<input type="text" name="description" size="50" placeholder="description" />
<input type="text" name="class_code" size="50" placeholder="class_code" />
<input type="text" name="teacher_id" size="50" placeholder="teacher_id" />

<hr />

<button id="submit" type="submit"><b>Add Class</b></button>

</form>

</body>
</html>