<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Registration Form</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>

<body>

<!-- The sidebar -->
<div class="sidebar">
  <a href="../students/index.php">Students</a>
  <a class="active" href="../teachers/index.php">Teachers</a>
  <a href="../classes/index.php">Classes</a>
  <a href="../class-rosters/index.php">Class Rosters</a>
</div>

<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <h1 class="text-black mb-4">Add a New Teacher</h1>

        <form method="POST" action="../teachers/add.php">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <label for="name"><h6 class="mb-0">First Name</h6></label>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" name="first_name" id="first_name" class="form-control form-control-lg" placeholder="First Name" required/>
                </div>
              </div>

              <hr class="mx-n3">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                <label for="description"><h6 class="mb-0">Last Name</h6></label>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" name="last_name" id="last_name" class="form-control form-control-lg" placeholder="Last Name" required/>
                </div>
              </div>

			<hr class="mx-n3">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                <label for="teacher_id"><h6 class="mb-0">Email</h6></label>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="email" name="email" id="email" class="form-control form-control-lg" placeholder="Email" required/>
                </div>
              </div>

              <hr class="mx-n3">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                <label for="class_code"><h6 class="mb-0">Contact Number</h6></label>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" name="contact_number" id="contact_number" class="form-control form-control-lg" placeholder="Contact Number" required/>
                </div>
              </div>

              <hr class="mx-n3">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                <label for="class_code"><h6 class="mb-0">Employee Number</h6></label>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" name="employee_number" id="employee_number" class="form-control form-control-lg" placeholder="Employee Number" required/>
                </div>
              </div>

              

              <hr class="mx-n3">
              <div class="px-5 py-4">
                <button id="submit" type="submit" class="btn btn-primary btn-lg" style="background-color:#435d7d;"><b>Add Teacher</b></button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
</body>

<style>
body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}
.table-responsive {
	table-layout: fixed; 
	white-space: nowrap;
}
.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}
table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}
table.table tr th:first-child {
	width: 100px;
}
table.table tr th:last-child {
	width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}
table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
.hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}    

.nowrap {
  white-space: nowrap;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #435d7d;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #344861;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #344861;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>

</html>