<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add Class Roster</title>
</head>
<body>

<h1>Add a Class Roster</h1>

<form method="POST" action="../class-rosters/add.php">
Enter a task:
<input type="text" name="class_code" size="50" placeholder="class_code" />
<input type="text" name="student_number" size="50" placeholder="student_number" />
<input type="text" name="enrolled_at" size="50" placeholder="enrolled_at" />


<hr />

<button id="submit" type="submit"><b>Add Class Roster</b></button>

</form>

</body>
</html>